<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"> </ion-back-button>
    </ion-buttons>
    <ion-title>New offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding ion-text-center">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="4">2</ion-col>
      <ion-col size="4"
        ><h1>Akapit</h1>
        <p>Paragraf</p></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
